<mat-toolbar color="primary">
    <button mat-icon-button routerLinkActive="ative item" [routerLinkActiveOptions]="{exact : true}" routerLink="/login" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </button>
    <span>Internal Portal</span>
    <span class="menu-on-right"></span>
    <button mat-raised-button style="margin-right: 2%;" routerLinkActive="active item" [routerLinkActiveOptions]="{exact : true}" routerLink="/login" (click)="removeUser()">Logout</button>
</mat-toolbar>

<section class="videos">
    <button mat-stroked-button color="primary" style="margin-right: 3%;" (click)="allVideos()" >All Videos</button>
    <button mat-stroked-button color="primary" style="margin-right: 3%;" (click)="myVideos()">My Videos</button>
    <button mat-stroked-button color="primary" style="margin-right: 3%;" >Subscribed Videos</button>
</section>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="SrNo">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let index = index;"> {{index+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.vidName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.vidDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

    <ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef> Created By </th>
    <td mat-cell *matCellDef="let element"> {{element.creatorName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef> Play </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="onPlay(element.vidId)"><mat-icon>play_circle_filled</mat-icon> Play</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
