<form #loginform="ngForm" class="example-form">
    <h1 mat-dialog-title>Hi {{user.userName}}</h1>
    <div mat-dialog-content>
      <p>Make your edits</p>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Video Name</mat-label>
        <input matInput name = "editedName" [(ngModel)] = "video.vidName">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Video Description</mat-label>
        <textarea matInput name = "editedDescription" [(ngModel)] = "video.vidDescription"></textarea>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary">No Thanks</button>
      <button type="submit" mat-raised-button color="primary" (click)="editVidDetails()" cdkFocusInitial>Submit</button>
    </div>
    </form>
    